[submodule "iwa-main-gateway-api"]
	path = iwa-main-gateway-api
	url = git@github.com:IGDevX/iwa-main-gateway-api.git
[submodule "iwa-mobile-frontend"]
	path = iwa-mobile-frontend
	url = git@github.com:IGDevX/iwa-mobile-frontend.git
[submodule "iwa-eureka-server"]
	path = iwa-eureka-server
	url = git@github.com:IGDevX/iwa-eureka-server.git
